CompileFlags:
  Add: 
    - "-isystem/usr/include"
    - "-isystem/usr/lib/gcc/x86_64-linux-gnu/11/include"
    - "-isystem/usr/include/x86_64-linux-gnu"
    - "-isystem/usr/lib/gcc/x86_64-linux-gnu/11/include-fixed"