CompileFlags:
  Add:
    # --- 标准库路径（适配 /opt/gcc-arm-none-eabi-10.3-2021.10）---
    - "-isystem=/opt/gcc-arm-none-eabi-10.3-2021.10/arm-none-eabi/include/c++/10.3.1"
    - "-isystem=/opt/gcc-arm-none-eabi-10.3-2021.10/arm-none-eabi/include/c++/10.3.1/arm-none-eabi"
    - "-isystem=/opt/gcc-arm-none-eabi-10.3-2021.10/arm-none-eabi/include/c++/10.3.1/backward"
    - "-isystem=/opt/gcc-arm-none-eabi-10.3-2021.10/lib/gcc/arm-none-eabi/10.3.1/include"
    - "-isystem=/opt/gcc-arm-none-eabi-10.3-2021.10/lib/gcc/arm-none-eabi/10.3.1/include-fixed"
    - "-isystem=/opt/gcc-arm-none-eabi-10.3-2021.10/arm-none-eabi/include"
 